csiDriver:
  name: truenas-tank-nfs
  fsGroupPolicy: File

storageClasses:
  - name: truenas-tank-nfs
    defaultClass: false
    reclaimPolicy: Retain
    volumeBindingMode: Immediate
    allowVolumeExpansion: true
    parameters:
      fsType: nfs
    mountOptions:
      - noatime
      - nfsvers=3

driver:
  config:
    driver: freenas-api-nfs
    instance_id: truenas-nfs
    httpConnection:
      protocol: http
      host: truenas.trantor.home.arpa
      port: 80
      allowInsecure: true
    zfs:
      datasetParentName: tank/k3s-nfs
      detachedSnapshotsDatasetParentName: tank/k3s-nfs-snapshots
      datasetEnableQuotas: true
      datasetPermissionsMode: "0777"
      datasetPermissionsUser: 0
      datasetPermissionsGroup: 0
    nfs:
      shareHost: truenas.trantor.home.arpa
      shareMaprootUser: root
      shareMaprootGroup: root
