apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: authentik
  namespace: authentik
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`auth.terminus.home.arpa`)
      kind: Rule
      services:
        - name: authentik-server
          port: 80
  tls:
    certResolver: step-ca
