apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 15m
  chart:
    spec:
      chart: traefik
      version: "38.0.1"
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    service:
      type: LoadBalancer
      loadBalancerIP: 192.168.20.80
    logs:
      general:
        level: INFO
    ingressClass:
      enabled: true
      isDefaultClass: true
    nodeSelector:
      node-role.kubernetes.io/control-plane: "false"
