csiDriver:
  name: truenas-fast-iscsi

storageClasses:
  - name: truenas-fast-iscsi
    defaultClass: false
    reclaimPolicy: Retain
    volumeBindingMode: WaitForFirstConsumer
    allowVolumeExpansion: true
    parameters:
      fsType: ext4

driver:
  config:
    driver: freenas-api-iscsi
    instance_id: truenas-iscsi
    httpConnection:
      protocol: http
      host: truenas.trantor.home.arpa
      port: 80
      allowInsecure: true
    zfs:
      datasetParentName: fast/k3s-iscsi
      detachedSnapshotsDatasetParentName: fast/k3s-iscsi-snapshots
      zvolEnableReservation: false
      zvolBlocksize: 16K
    iscsi:
      targetPortal: truenas.trantor.home.arpa:3260
      namePrefix: csi-
      targetGroups:
        - targetGroupPortalGroup: 1
          targetGroupInitiatorGroup: 1
          targetGroupAuthType: None
      extentInsecureTpc: true
      extentDisablePhysicalBlocksize: true
      extentBlocksize: 512
      extentRpm: SSD
