csiDriver:
  name: truenas-fast-iscsi
storageClasses:
  - name: truenas-fast-iscsi
    defaultClass: false
    reclaimPolicy: Retain
    volumeBindingMode: Immediate
    allowVolumeExpansion: true
    parameters:
    fsType: ext4
driver:
  config:
    driver: freenas-api-iscsi
    instance_id: truenas-iscsi
    httpConnection:
      protocol: http
      host: truenas.trantor.home.arpa
      port: 80
      apiKey: ENC[AES256_GCM,data:TxDeyuH65LlVPCa690gMXjLk6KJNgosEFp8LoKuyq9WeasxCWyjZZPOiEACEPCzEHTSUibazkvU4alCrIvgmxh7C,iv:QuM+BvFsP7h4EC4PnTgch5gn18T4w4i++E0DfohNQsY=,tag:KkFs43/BJelj8mtyIkH1vw==,type:str]
      allowInsecure: true
    zfs:
      datasetParentName: fast/k3s-iscsi
      detachedSnapshotsDatasetParentName: fast/k3s-iscsi-snapshots
      zvolEnableReservation: false
      zvolBlocksize: 16K
    iscsi:
      targetPortal: truenas.trantor.home.arpa:3260
      namePrefix: csi-
      targetGroups:
        - targetGroupPortalGroup: 1
          targetGroupInitiatorGroup: 1
          targetGroupAuthType: None
      extentInsecureTpc: true
      extentDisablePhysicalBlocksize: true
      extentBlocksize: 512
      extentRpm: SSD
sops:
  age:
    - recipient: age1am0hru25ljjzpf37x8p8v3953qvpjp7ve9f5rwx0fzpjqagfjpqs55kkug
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBNT0dDVFlqNzUyT0ZKNWta
        emtocmdtQ0xNS0RQRUk3NnVHWFpYOEdubmdjCkhDK3dxZm53ZEgxRWx3OHVDN25P
        LzZCeXh2QjVqWGFhQWYwWWZHRnZEakUKLS0tIGZnOUt2NkE0Wk5PMFRHSGgzUUlW
        a2U2dUpQSTF0ejRISC9vMm5EV29JNlkKjW5+B3ZVEQTkjl27suHhjYXuShRN7RU0
        kH2f+KeT6UabVvhu3RyMMmNbu/d0+jjT5R8f9NAsxq/AAyS5m5aPxw==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-12-23T21:05:05Z"
  mac: ENC[AES256_GCM,data:Y/wywf7/YMn11VkIoZGY1Ur0GGuAYRtmeWgIx6Tf3mxLm7lBM1EpZ6KpwBFyfs1Mq/XPyNHhr9HQHVejLxSeyqTTGgKiQXjBlmzoC8GjSHWwlQ/4eldO3uV2UWSHV7vwazZhEyHZVMm7aXgOZCdAFlX5MP0720iLSnLIl/fU9C0=,iv:4sLSAEAlHh+TBPQdw+xHf9sGAlkT37aqkAXgAL2Tze0=,tag:og6suI5fY9A+JyJL54zrWg==,type:str]
  encrypted_regex: ^(data|stringData|apiKey|password|secret|token)$
  version: 3.11.0
